<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="web">
	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

	<link href="/product/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="/product/css/tiny-slider.css" rel="stylesheet">
	<link href="/product/css/style.css" rel="stylesheet">

	<title>EZB | Trang chủ</title>

	<link rel="icon" href="favicon.png" type="image/x-icon">

	<script src="/product/js/bootstrap.bundle.min.js"></script>
	<script src="/product/js/tiny-slider.js"></script>
	<script src="/product/js/custom.js"></script>
	<style>
		.dropdown:hover .dropdown-menu {
			display: block;
		}

		.dropdown .dropdown-toggle:active {
			pointer-events: none;
		}
	</style>